<% include ./partials/header %>
<meta http-equiv="refresh" content="5">
<div class="ftco-cover-1 overlay" style="background-image: url('images/waitingLounge.jpg')">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="feature-car-rent-box-1">
                        <% if( typeof success_message != 'undefined' && success_message.length > 0) { %>
                            <div class="alert alert-success"><%= success_message %></div>
                        <% } %>
                        <% if(typeof error_message != 'undefined' && error_message.length > 0) { %>
                            <div class="alert alert-danger"><%= error_message %></div>
                        <% } %>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Specialist</th>
                                <th scope="col">Time Remaining</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><%= clients[0].client_id %></th>
                                <td><%= clients[0].name %></td>
                                <td><%= clients[0].sepcialist_name %></td>
                                <% if(clients[0].servingTime){%>
                                <td><%= moment(clients[0].ticketCreated).add(clients[0].servingTime*position, 'minutes').fromNow() %></td>
                                <%}else{%>
                                    <td><%= moment(clients[0].ticketCreated).add(5*position, 'minutes').fromNow(true) %></td>
                                <%}%>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>